<html>
<!doctype html>
<title>Predict Crypto INR</title>

<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/stayles.css') }}">
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.stock.min.js"></script>
<script type="text/javascript">
window.onload = function () {
  document.getElementById("loader").style.display = "none"
}
</script>
</head>
<header>
<div class="header">
  <a class="logo">Predict Crypto in INR</a>
  <div class="header-right">
    <a href="/">Home</a>
    <a href="https://github.com/NayakwadiS">Contact</a>
    <a href="https://github.com/NayakwadiS/Predict_Cryptocurrency_INR">About</a>
  </div>
</div>
</header>
<body>
<div class="row center">
  <div class="column hidden">
  </div>
</div>
<div class="center">
  <form class="form-inline" method="GET" action="/">
    <label class="label">Select Ticker & Algorithm :</label>
    <select name="ticker" id="ticker" class="label">
      <option value="BTC-INR">BTC-INR</option>
      <option value="ETH-INR">ETH-INR</option>
      <option value="LTC-INR">LTC-INR</option>
      <option value="BNB-INR">BNB-INR</option>
      <option value="USDC-INR">USDC-INR</option>
      <option value="DOGE-INR">DOGE-INR</option>
    </select>
    <select name="type" id="type" class="label">
      <option value="LSTM">LSTM</option>
<!--      <option value="ARIMA">ARIMA</option>-->
    </select>
    <button type="button" onclick="show_plot()">View</button>
  </form>



</div>
<div class="loader" id="loader"></div>

<div id="chartContainer" style="height: 400px; max-width: 920px; margin: 0px auto;"></div>

</body>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</html>
